<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title><%=title%></title>

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="/css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <style>
        #emailError{
            font-size: 11px;
        }
        #passwordError{
            font-size: 11px;
        }
    </style>
</head>
<body>
    
<header class="header">

    <div id="menu-btn" class="fas fa-bars"></div>

    <a href="/" class="logo"> <span>max</span>wheels </a>

    <nav class="navbar">
        <a href="#home">home</a>
        <a href="#vehicles">vehicles</a>
        <a href="/listedCars">featured</a>
        <a href="#contact">contact</a>
    </nav>

    <% if(isLogined){%>
        <div id="login-btn">
            <a href="/users/logout" class="btn">Logout</a>
            <i class="far fa-user"></i>
        </div>
    <% } else { %>
        <div id="login-btn">
            <button class="btn">login</button>
            <i class="far fa-user"></i>
        </div>
        <% } %>

</header> 


<% if(admin){ %>
    
    <div class="login-form-container">

        <span id="close-login-form" class="fas fa-times"></span>

        <form action="/admin/validate" method="post">
            <h3>Admin login</h3>
            <input type="text" id="inputEmail" name="name" placeholder="email" class="box">
            
            <input type="password" id="inputPassword" name="password" placeholder="password" class="box">
            

            <button  class="btn btn-primary">Login</button>
        
           
        </form>

    </div>

<% } else {%>


    <div class="login-form-container">

        <span id="close-login-form" class="fas fa-times"></span>

        <form action="/users/validate" method="post" id="myForm">
            <h3>user login</h3>
            <input type="email" id="inputEmail" name="email" placeholder="email" class="box">
            <div id="emailError" ></div>
            <input type="password" id="inputPassword" name="password" placeholder="password" class="box">
            <div id="passwordError"></div>
            <p> forget your password <a href="#">click here</a> </p>
            <button  class="btn btn-primary">Login</button>
        
            <p> don't have an account <a href="/register">create one</a> </p>
        </form>

    </div>

    <% } %>


<% if(clickLogin){ %>
    <script>
        document.querySelector('.login-form-container').classList.toggle('active');
    </script>
<% } %>

<section class="home" id="home">

    <h3 data-speed="-2" class="home-parallax">find your car</h3>

    <img data-speed="5" class="home-parallax" src="image/home-img.png" alt="">

    <a data-speed="7" href="#" class="btn home-parallax">explore cars</a>

</section>

<section class="icons-container">
</section>

<section class="vehicles" id="vehicles">

    <h1 class="heading"> popular <span>vehicles</span> </h1>

    <div class="swiper vehicles-slider">

        <div class="swiper-wrapper">

            <% for(let i = 0 ; i < result.length ; i++){ %>
                <%if(i == 7 ) break;%>
                <div class="swiper-slide box">
                    <img src="/uploads/<%=result[i].carImage%>" alt="">
                    
                   
                    <div class="content">
                        <h3><%= result[i].car_model %></h3>
                        <div class="stars">
                          <%= result[i].location%>
                        </div>
                        <div class="price">&#x20b9;<%= result[i].ESP %>/-</div>
                        <a href="/singleCar/<%=result[i]._id%>" class="btn">check out</a>
                    </div>
                </div>
            <% } %>

            

        </div>

        <div class="swiper-pagination"></div>

    </div>

</section>

<section class="services" id="services">
</section>

<section class="featured" id="featured">

    <h1 class="heading"> <span>featured</span> cars </h1>

    <div class="swiper featured-slider">

        <div class="swiper-wrapper">
 
         <% for(let i = 0 ; i < result.length && i < 7 ; i++){ %>
             <div class="swiper-slide box">
                 <img src="/uploads/<%=result[i].carImage%>" alt="">
                
                 <div class="content">
                     <!-- <a href="/singleCar/<%=result[i]._id%>" class="btn">check out</a> -->
                     <a href="/singleCar/<%=result[i]._id%>"><h3><%= result[i].car_model %></h3></a>
                     <!-- <h3><%= result[i].car_model %></h3> -->
                     <div class="stars">
                       <%= result[i].location%>
                     </div>
                     <div class="price">&#x20b9;<%= result[i].ESP %>/-</div>

                         <div class="">
                            <a href="/singleCar/<%=result[i]._id%>" class="btn">check out</a>
                              
                          </div>
                 </div>
             </div>
         <% } %>
         
 
        </div>
 
        <div class="swiper-pagination"></div>
 
     </div>
 
     <% if( result.length > 7 ){ %>
 
     <div class="swiper featured-slider">
 
         <div class="swiper-wrapper">
  
          <% for(let i = 7 ; i < result.length && i < 14 ; i++){ %>
              <div class="swiper-slide box">
                  <img src="/uploads/<%=result[i].carImage%>" alt="">
                 
                  <div class="content">
                      <!-- <a href="/singleCar/<%=result[i]._id%>" class="btn">check out</a> -->
                      <a href="/singleCar/<%=result[i]._id%>"><h3><%= result[i].car_model %></h3></a>
                      <!-- <h3><%= result[i].car_model %></h3> -->
                      <div class="stars">
                        <%= result[i].location%>
                      </div>
                      <div class="price">&#x20b9;<%= result[i].ESP %>/-</div>
  
                     
                          <div class="">
                            <a href="/singleCar/<%=result[i]._id%>" class="btn">check out</a>
                               
                           </div>
   
                           
  
                  </div>
              </div>
          <% } %>
          
  
         </div>
  
         <div class="swiper-pagination"></div>
  
      </div>
 
      <%}%>

</section>



<section class="reviews" id="reviews">


   

</section>

<section class="contact" id="contact">

    

</section>


<%- include('partials/footer.ejs') %>

<script>
    $('#myForm').submit(function (event) {
        event.preventDefault();
        // window.history.back();
        console.log("indside")

        const email = document.getElementById('inputEmail').value.trim()
			const password = document.getElementById('inputPassword').value.trim()
			const nameRegex = /^[a-zA-Z0-9]+$/;
			const emailRegex = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
			const passwordRegex = /^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/;
			let isValid = true;
			
			// console.log(name,email,password)
			if(email.length == 0){
				isValid = false;
				document.getElementById('emailError').innerHTML = 'Email cannot be empty'
                $('#emailError').css('color', 'red');
			}
			else if (email.match(emailRegex)) {
				document.getElementById('emailError').innerHTML = ''
			}
			else{
				isValid = false;
				document.getElementById('emailError').innerHTML = 'Please Enter valid Email'
                $('#emailError').css('color', 'red');
			}
			let pwdError = '';
			// if (password.match(passwordRegex)) {
			// 	document.getElementById('passwordError').innerHTML = ''
			// }else{
			// 	isValid = false;
			// 	document.getElementById('passwordError').innerHTML = 'Enter Valid Password'
			// }
			if(password.length == 0){
				isValid = false;
				pwdError += ' Password cannot be empty'
			}
			// if( password.length < 8){
			// 	isValid = false;
			// pwdError +=  ' Password cannot be less than 8 characters'
			// }
			if(pwdError != ''){
				isValid = false;
				// console.log(pwdError)
				document.getElementById('passwordError').innerHTML = pwdError;
                $('#passwordError').css('color', 'red');
				pwdError = ''
			}
			
			if (isValid) {
				var emailExists;
				var againCheck = true;
			$.ajaxSetup({async: false});
			$.ajax({
					url:'/users/emailTaken',
					method:'POST',
					contentType:'application/json',
					data : JSON.stringify({
						email:$('#inputEmail').val(),
					})
				}).done(function(result){
					console.log('=======> ',result)
					emailExists = result;
					if(emailExists == 'no'){
						document.getElementById('emailError').innerHTML = 'Email Does not Exist'
						againCheck = false;
					}
				}).fail(function(err){
					console.log(err)
				})
				
				if(emailExists != 'no'){
					console.log('Email Exists ==============')
					$.ajax({
						url:'/users/pwdTaken',
						method:'POST',
						contentType:'application/json',
						data : JSON.stringify({
							pwd:$('#inputPassword').val(),
							email:$('#inputEmail').val(),
							user:emailExists,
						})
					}).done(function(result){
						console.log('result , ',result)
						if(result != 'ok'){
							document.getElementById('passwordError').innerHTML = 'Password is Incorrect'
							againCheck = false;
						}
					}).fail(function(err){
						console.log(err)
					})
				}
				$.ajaxSetup({async: true});
				console.log('againCheck,',againCheck)
				if(againCheck){
					document.getElementById('myForm').submit()
				}
				else {
				event.preventDefault();
				console.log('---------------------')
				}
			}
			else {
				event.preventDefault();
				console.log('---------------------')
			}


    });
</script>


<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

<script src="js/script.js"></script>

</body>
</html>